
<h1>View person</h1>

<div *ngIf="myPersonService.myInfo">
   <p>page: {{myPersonService.myInfo.page}} </p>
   <p>per_page: {{myPersonService.myInfo.per_page}} </p>
   <p>total_pages: {{myPersonService.myInfo.total_pages}} </p>
   <p>total: {{myPersonService.myInfo.total}} </p>

   <table border="1">
      <tr *ngFor="let p of myPersonService.myInfo.data">
        <td>{{p.id}}</td>
        <td>{{p.first_name}}</td>
        <td>{{p.last_name}}</td>
        <td><img [src]="p.avatar"/></td>
      </tr>
   </table>
</div>
